@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;600;700&family=Karla:wght@400;600;700&display=swap');

:root {
  /* Colours */
  --light: #f7f9f9;
  --light-accent: #898a8d;
  --dark: rgb(40, 28, 16);
  --dark-accent: #a77884;
  --highlight: #af533a;
}

/* CSS Reset by Josh Comeau */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}


/*=============================================
=            Basic styling            =
=============================================*/

body {
  background: center / cover no-repeat url(./bg.jpg);
  /* Photo by Cédric Dhaenens on Unsplash */
  font-family: "Inconsolata", sans-serif;
  color: var(--light);
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
  color: var(--highlight);
  line-height: 1;
  margin-bottom: 0.8em
}

.page-header,
.page-container {
  padding: 2em;
  text-align: center;
  margin: 0 auto;
  max-width: 40em;
  background: rgba(40, 28, 16, 0.8);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

p,
.range-label {
  margin-block: 0.5em;
}

.page-container {
  margin-top: 2rem;
}

/*=====  End of Basic styling  ======*/


/*----------  Form  ----------*/

.btn {
  padding: 0.625em;
  border-radius: 0.3em;
  cursor: pointer;
}

.btn-container {
  margin-block: 1.25em;
}


label:not(.check),
.checkbox-label {
  font-weight: 700;
  display: block;
}


select {
  padding: 0.625em;
}

.location-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  width: 10em;
  height: 1.25em;
  margin: 0.6em;
  background: linear-gradient(to right, var(--highlight) 0%, var(--highlight) 100%);
  background-size: 9.375em 0.625em;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.25em;
  height: 1.25em;
  background: var(--dark-accent);
  position: relative;
  z-index: 3;
  box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.3);
}

.checkboxes,
.check {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 1.5em;
}

.check {
  flex-wrap: nowrap;
  column-gap: 0.5em;
}

input[type="checkbox"] {
  appearance: none;
  color: var(--dark-accent);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--highlight);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--dark-accent);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/*----------  Results  ----------*/

.result {
  display: none;
}

.result-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
}

.result-details p {
  flex: 1;
}

.circular-chart {
  display: block;
  margin: 0.6em auto;
  max-width: 80%;
  max-height: 15.6rem;
}

.circular-chart text.percentage {
  font-size: 0.5em;
  text-anchor: middle;
  fill: var(--light);
}

.circle {
  stroke: var(--light-accent);
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}