@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;600;700&family=Karla:wght@400;600;700&display=swap');

:root {
  font-size: 16px;

  /* Colours */
  --light: #f7f9f9;
  --light-accent: #898a8d;
  --dark: rgb(40, 28, 16);
  --dark-accent: #a77884;
  --highlight: #af533a;
}

/* CSS Reset by Josh Comeau */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

p {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}


/*=============================================
=            Basic styling            =
=============================================*/

body {
  background: center / cover no-repeat url(./bg.jpg);
  /* Photo by Cédric Dhaenens on Unsplash */
  font: 1rem/1.6 "Inconsolata", sans-serif;
  color: var(--light);
  padding: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
  color: var(--highlight);
}

/*=====  End of Basic styling  ======*/


/*----------  Header  ----------*/

.page-header,
.page-container {
  padding: 1em 2em;
  text-align: center;
  margin: 2em auto;
  max-width: 40em;
  background: rgba(40, 28, 16, 0.8);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}